* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 10px;
}

.container {
    background-color: #cccccc;
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    border-radius: 20px;
    border: 5px;
}

.btn {
    background-color: #4cc9f0;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #3ab0d3;
}

img {
    max-width: 50%;
    display: block;
    margin: 20px auto;
}

input {
    display: block;
    width: 100%;
}