* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.buy-button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.buy-button:hover {
    background-color: #02316b;
    padding: 15px 20px;
}
.product-item {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#shop-header {
    background-color: #00796b;
    color: #fff;
    padding: 20px;
    text-align: center;
}
